<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to users page!</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Main page</a></li>
                    <li><a href="/users">Users</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <h1>This is the users list page Hello!</h1>
            <p>Users:</p>
            <ul>
                <li>Mason</li>
                <li>Grunt</li>
                <li>Allen</li>
            </ul>
        </main>
    </body>
</html>